.ItemCardM {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &-ImageCarouselContainer {
    flex: 1;
    border-radius: var(--border-radius-l);
    overflow: hidden;
    box-shadow: var(--shadow-bottom-l);
  }

  &-ImageCarouselItem {
    min-height: 140px;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    scroll-snap-align: start;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-Info {
    margin-top: 6px;
  }

  &-Price {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1px;
  }

  &-Name {
    // two lines ellipsis
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--fg-color-muted);
  }
}
