.Accordeon {
  &-Item {
    padding: 12px 16px;
    border-radius: var(--border-radius-l);
    background-color: var(--bg-surface-2);
    // color: var(--fg-color-inverted);
    text-align: left;
  }

  &-Item:not(:last-child) {
    margin-bottom: 12px;
  }

  &-Title {
    font: var(--font-body-l-strong);
  }

  &-Content {
    display: grid;
    grid-template-rows: 0fr;
    transition-duration: 0.3s;
  }

  &-ContentBody {
    text-align: justify;
    overflow: hidden;
    font: var(--font-body-s);
  }

  &-Details[open] + .Accordeon-Content {
    margin-top: 8px;
    grid-template-rows: 1fr;
  }
}
