.SearchScreen {
  &-Container {
    z-index: 10;
    position: absolute;
    inset: 0;
    // disable touch events
    touch-action: none;
  }
  &-Paranja {
    position: absolute;
    inset: 0;
    background-color: var(--color-paranja);
  }

  &-Content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &-InputContainer {
    display: flex;
    background-color: var(--bg-surface-1);
  }

  &-Input {
    flex: 1;
    width: 100%;
    min-height: 100%;
    padding: 0 16px;
    border: none;
    font: var(--font-body-l-strong);
  }

  &-SubmitButton {
    background-color: var(--color-primary);
    padding: 6px 12px;
    margin: 8px;
    font: var(--font-body-l);
    border-radius: var(--border-radius-m);
    color: var(--fg-inverted);

  }
}
