.CircleButton {
  border-radius: 50%;
  border: none;
  background-color: var(--color-paranja);
  // icon bg center
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  width: 48px;
  height: 48px;

  &_withoutBg {
    background-color: transparent;
  }
}
