.Item {
  padding: 0 var(--screen-x-indent) 16px;
  background-color: var(--bg-surface-1);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;

    height: 30px;
    background: linear-gradient(
      to bottom,
      var(--bg-surface-1),
      var(--bg-color)
    );
  }

  &-Back {
    position: fixed;
    top: 10px;
    left: 6px;
    z-index: 1;
  }

  &-ImageCarouselCounter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-paranja);
    padding: 4px 8px;
    border-radius: var(--border-radius-s);
    font: var(--font-description-l);
    z-index: 1;
  }

  &-ImageCarouselContainer {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: calc(-1 * var(--screen-x-indent));
      right: calc(-1 * var(--screen-x-indent));
      height: 6px;
      background: linear-gradient(to top, var(--bg-surface-1), transparent);
    }
  }

  &-ImageCarouselButton {
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
  }

  &-ImageCarouselButtonLeft {
    left: calc(-1 * var(--screen-x-indent));
  }

  &-ImageCarouselButtonRight {
    right: calc(-1 * var(--screen-x-indent));
  }

  &-ImageCarousel {
    margin: 0 calc(-1 * var(--screen-x-indent)) 16px;
    width: calc(100% + 2 * var(--screen-x-indent));
    min-height: 300px;
    max-height: 600px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    background-color: #E6E6E6;
  }

  &-ImageCarouselItem {
    min-width: 100%;
    max-width: 100%;
    scroll-snap-align: start;
    object-fit: contain;
  }

  &-MainInfo {
    margin-top: 16px;
  }

  &-Price {
    font-size: 28px;
    font-weight: 800;
  }

  &-Name {
    font-size: 24px;
    font-weight: 800;
  }

  &-Description {
    font: var(--font-body-m);
    margin-top: 16px;
    color: var(--fg-color-muted);
  }

  &-ActionButtonsPlaceholder {
    height: 100px;
  }

  &-ActionButtons {
    box-shadow: var(--shadow-m);
    border-top-left-radius: var(--border-radius-l);
    border-top-right-radius: var(--border-radius-l);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-surface-1);
    padding: 16px var(--screen-x-indent);
    z-index: 7;
  }

  &-ActionButtonContainer {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
  }

  &-ActionButton {
    height: 48px;
    flex: 1;
  }

  &-ActionButtonHintText {
    padding-bottom: 100px;
  }

  &-Tags {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  // &-MainInfo > p {
  //   font: var(--font-body-m);
  //   margin-bottom: 8px;
  // }

  // &-VariantsContainer {
  //   margin-bottom: 16px;
  // }

  // &-Variants:not(:last-child) {
  //   margin-bottom: 8px;
  // }

  // &-VariantsLabel {
  //   font: var(--font-body-l-strong);
  //   margin-bottom: 4px;
  // }

  // &-Contacts {
  //   margin-bottom: 16px;
  //   display: flex;
  //   gap: 8px;

  //   & > * {
  //     flex: 1;
  //   }
  // }

  // &-VariantsOptions {
  //   display: flex;
  //   gap: 8px;
  //   overflow-x: auto;
  //   text-wrap: nowrap;
  // }

  // &-VariantsOption {
  //   border-radius: var(--border-radius-m);
  //   border: 1px solid var(--color-blue);
  //   padding: 6px 8px;
  // }

  // &-VariantsOptionLabel {
  //   font: var(--font-description-s);
  //   color: var(--fg-muted);
  // }

  // &-Details {
  //   margin-bottom: 16px;
  // }

  // &-DetailsTitle {
  //   font: var(--font-body-l-strong);
  // }

  // &-AdditionalInfo {
  //   margin-bottom: 16px;
  // }
}
