.Navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 70px;
  background-color: var(--bg-surface-1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: var(--border-radius-xl);
  border-top-right-radius: var(--border-radius-xl);
  padding: 6px 12px;
  box-shadow: var(--shadow-s);

  &-Plaseholder {
    height: 93px;
  }

  & > * {
    flex: 1;
  }
}
